.sidebar-container{
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between ;

    padding-bottom: 10px;
    background: black;
    border-right: 0.5px solid #5c5c5c;
}

.profile-pic{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 30px;
    margin-top: 20px;
}

.username{

 
    font-weight:600;
}

.profile{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between ;
}

