a {
    text-decoration: none;
}

.btn-body{
    height: 80px;
    width: 80px;
    border-radius: 20px;
    color: #000B24;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    transition: all 0.2s ease;
}

.btn-body.active{
    background-color: #5c5c5c;
    transform: scale(1.05);
}

.btn-title{
    margin: 4px auto;
    font-weight: 600;
    font-size: 14px;
}